
.borger-Applications{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.45);
    width: 100vw;
    height: 100vh;
    z-index: 99;
}
.block-Applications svg{
    position: absolute;
    width: 30px ;
    height: 30px;
    top: 5px;
    color: black;
    right: 5px;
    z-index: 100;
}
.block-Applications{
    width: 60vh;
    height: 80vh;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    justify-content: center;
}
.block-inp2{
}