
@media screen and (min-width: 0px) and (max-width: 450px){
    .border-contact{
        width: 100%;
        height: auto;
        margin: 4vh 0 5vh 0;
        padding: 0 5%;
    }
    .border-contact div{
        width: 100%;
        display: grid;
        justify-content: flex-start;
    }
    .border-contact div p{
        margin-top: 1vh;
        font-family: 'Jura';
        font-style: normal;
    }
    .contact-img-bg{
        position: absolute;
        top: 5%;
        right: 0%;
        width: 20vw;
    }
    .border-contact div svg{
        width: 25px;
        margin: 0 6px;
    }
    .border-contact div .nomber{
        font-family: 'Russo One', sans-serif;
        font-weight: 900;
        font-size: 5vw;
        color: black;
    }
    .border-contact div .nomber span{
        color: #ea0303;
    }

    .border-contact div a{
        font-size: 4vw;
        color: black;
    }

    .border-contact div .instagram{
        width: 25px;
        background-image: linear-gradient(#FF9706, #FE02C7);
        padding: 5px;
        border-radius: 40%;
        color: white;
    }
}
@media screen and (min-width: 450px) and (max-width: 800px){
    .border-contact{
        width: 100%;
        height: auto;
        margin: 4vh 0 5vh 0;
        padding: 0 5%;
    }
    .border-contact div{
        width: 100%;
        display: grid;
        justify-content: flex-start;
    }
    .border-contact div p{
        margin-top: 1vh;
        font-family: 'Jura';
        font-style: normal;
    }
    .contact-img-bg{
        position: absolute;
        top: 5%;
        right: 0%;
        width: 20vw;
    }
    .border-contact div svg{
        width: 25px;
        margin: 0 6px;
    }
    .border-contact div .nomber{
        font-family: 'Russo One', sans-serif;
        font-weight: 900;
        font-size: 5vw;
        color: black;
    }
    .border-contact div .nomber span{
        color: #ea0303;
    }

    .border-contact div a{
        font-size: 4vw;
        color: black;
    }

    .border-contact div .instagram{
        width: 25px;
        background-image: linear-gradient(#FF9706, #FE02C7);
        padding: 5px;
        border-radius: 40%;
        color: white;
    }
}
@media screen and (min-width: 800px) and (max-width: 999999999999px){
    .border-contact{
        width: 100%;
        height: auto;
        display: flex;
        margin: 4vh 0 5vh 0;
        padding: 0 5%;
    }
    .border-contact div{
        width: 50%;
        display: grid;
        justify-content: center;
    }
    .border-contact div p{
        margin-top: 1vh;
        font-family: 'Jura';
        font-style: normal;
        font-size: 1.2vw;
    }

    .border-contact div p{
          margin-top: 1vh;
          font-family: 'Jura';
          font-style: normal;
      }
    .contact-img-bg{
        position: absolute;
        top: 5%;
        right: 0%;
        width: 8vw;
    }
    .border-contact div svg{
        width: 30px;
        margin: 0 6px;
    }
    .border-contact div .instagram{
        width: 35px;
        background-image: linear-gradient(#FF9706, #FE02C7);
        padding: 5px;
        border-radius: 40%;
        color: white;
    }
    .border-contact div .nomber{
        font-family: 'Russo One', sans-serif;
        font-weight: 900;
        font-size: 2.5vw;
        color: black;
    }
    .border-contact div .nomber span{
        color: #ea0303;
    }

    .border-contact div a{
        font-size: 2vw;
        color: black;
    }

    .border-contact div .instagram{
        width: 25px;
        background-image: linear-gradient(#FF9706, #FE02C7);
        padding: 5px;
        border-radius: 40%;
        color: white;
    }
}




.block-contact{
    position: absolute;
    margin-top: 80px;
    width: 100vw;
    height: auto;
    z-index: 1;
}
.block-contact h1{
    margin-left: 5%;
}

.border-contact div img{
    width: 30%;
}

